<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>





<script language="javascript">
	$.getJSON( "/comments.json", function( data ) {
		
		$.each(data, function(i, item){
			//console.log(data[i]);
			alert(i);
		});
	});
	
	
</script>